.container {
  border: solid 1px #CCC;
  border-radius: 6px;
  -webkit-box-shadow: 5px 2px 3px #999;
        box-shadow: 5px 2px 3px #999;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  text-align: left;
  margin-top: 30px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 10px;
  background-color: white;
}

.inputContainer {
  display: flex;
  align-items: flex-start;
  margin-top: 5px;
  margin-bottom: 5px;
}

.label {
  width: 60px;
  display: inline;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  text-align: right;
  padding-right: 5px;
}

.textInput {
  flex: 1;
}

.textAreaInput {
  flex: 1;
  height: 100px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}
