.container {
  text-align: center;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.title {
  font-size: 1.5em;
}

.intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* ================================================  */
/* Playing with css */

.textareaContainer {
  background-color: DodgerBlue;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-left: 25%;
  margin-right: 25%;
}

.textareaCenter {
  flex-direction: flex-start;
  justify-content: space-between;
}

.noteList {
  border-style: solid;
  margin-top: 30px;
  margin-left: 25%;
  margin-right: 25%;
}
