.container {
  display: flex;
  flex-grow: 1;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f7f7f7;
}

.note {
  background-color: white;
}

.footer {
  margin-left: 25%;
  margin-right: 25%;
}
