.container {
  display: flex;
  flex-grow: 1;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
}

.noteContainer {

}

.note {
  background-color: white;
}
