.container {
  display: flex;
  flex-grow: 1;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f7f7f7;
}
.noteContainer {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 25%;
  margin-right: 25%;
}

.note {
  margin-left: 10px;
}

.footer {
  margin-left: 25%;
  margin-right: 25%;
}

.toggleContainerOn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 16px;
  width: 40px;
  border-radius: 45px;
  background-color: #1bb4a8;
  padding: 2px;
}

.toggleContainerOff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 16px;
  width: 40px;
  border-radius: 45px;
  background-color: #bdc1c8;
  padding: 2px;
}


.toggleCircleOn {
  height: 14px;
  width: 14px;
  border-radius: 45px;
  background-color: #ffffff;
  transition: transform 600ms ease-in-out;
  transform: translateX(0);
}

.toggleCircleOff {
  height: 14px;
  width: 14px;
  border-radius: 45px;
  background-color: #ffffff;
  transition: transform 600ms ease-in-out;
  transform: translateX(26px);
}
